body {
  font-family: sans-serif;
  background-image:url('./img/background.jpg');
  background-size: cover;;
  overflow:auto; 
  overflow-x: hidden;
  

}


.snowflake {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-5vh) rotate(0deg);
  }
  100% {
    transform: translateY(90vh) rotate(340deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000010;
  height: 900px;
  padding: 20px;
}

h1 {
  font-size: 4vw; 
  margin-left: 8em;
  text-align: center;
  color: white; 
  text-shadow: -2px -3px 4px black; 
  font-family: 'Brush Script MT', cursive;
  margin-bottom: 0.5em;
}

p1{
  color:white;
  margin: 0;
  padding-left: 40em;
  font-size: 1.2em;
  text-align: justify;

}


.tech-button {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  border: 1px solid #00c6ff;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 3em;

  margin-left: 37em;
}

.tech-button:hover {
  background: linear-gradient(90deg, #0072ff, #00c6ff);
}

.dataset {
  background-color: #000010;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center; 
  padding: 20px;
}

h2 {
  grid-column: 1; 
  grid-row: 1;
  font-size: 5vw; 
  text-align: center;
  color: white; 
  text-shadow: -2px -3px 4px black; 
  font-family: 'Brush Script MT', cursive;
  margin-top: -35vh;

}

p2 {
  grid-column: 1; 
  grid-row: 2;
  color:white;
  font-size: 1.2em;
  text-align: justify;
  margin-top: -60vh;  
  margin-right: 2vw;
  margin-left: 2vw;

}

.datapng {
  width: 70%; 
  height: auto; 
  grid-column: 2; 
  border-radius: 20%;
  margin-left: 10vw;
  margin-top: 20vh;
}


.data-button {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  border: 1px solid #00c6ff;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: -30vw;
  margin-top: -10vh;
  margin-bottom: 0;
}

.data-button:hover {
  background: linear-gradient(90deg, #0072ff, #00c6ff);
}