.body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.table-container {
  margin: 20px;
}

.table-window {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.feature-select {
  width: 300px;
}

.table-window {
  max-height: 80vh;
  overflow-y: auto;
}

.table-window::-webkit-scrollbar {
  width: 12px;
}

.table-window::-webkit-scrollbar-thumb {
  background-color: #afc3cf;
  border-radius: 10px;
}

.table-window::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.checkbox-label {
  margin-right: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

.input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-label {
  margin-right: 0;
  margin-bottom: 0;
}
