/* MapContainer.css */

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 30%;
}

#map {
  width: 40%;
  height: 60%;
  left:5%;
}

.info-window {
  width: 200px;
  height: 250px;
  background-color: rgba(28, 40, 52, 0.6);
  z-index: 1000000;
  color: #00a2ff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.info-window .marker {
  width: 90%;
  height: 45%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  background: url('https://img0.baidu.com/it/u=642224594,788622389&fm=253&fmt=auto&app=138&f=JPEG?w=889&h=500');
  background-size: cover;
}

.info-window .detail-info {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55%;
}

.info-window p {
  margin: 0;
  margin-bottom: 15px;
}

.info-window span {
  display: block;
}

.info-window .statusAddress div {
  float: left;
  width: 50%;
}

.info-window .lastTime,
.info-window .statusAddress {
  font-size: 10px;
}

.info-window span:last-child {
  color: rgba(255, 255, 255, 0.5);
}
